## Interview Practice 10/4/2024

Data Analyst Interview Question: What is the difference between Data Mining and Data Profiling?

Answer: 
Data Mining- the process of discovering useful data that has not been looked at before. The data mining process consists of finding raw data and converting it to the format that you want.

Data Profiling- the process of validating discovered data. You can find unique values, determine which part of the dataset is useful, and how consistent the data is with your project. Also, you can clean the data by fixing and removing the incorrect or empty values.

Data Science Technical Question:

Write a solution to create a DataFrame from a 2D list called student_data. This 2D list contains the IDs and ages of some students.

The DataFrame should have two columns, student_id and age, and be in the same order as the original 2D list.

The result format is in the following example.

Example 1:

Input:
student_data:
[
  [1, 15],
  [2, 11],
  [3, 11],
  [4, 20]
]
Output:
+------------+-----+
| student_id | age |
+------------+-----+
| 1          | 15  |
| 2          | 11  |
| 3          | 11  |
| 4          | 20  |
+------------+-----+
Explanation:
A DataFrame was created on top of student_data, with two columns named student_id and age.

In [1]:
import pandas as pd

def create_data_frame(student_data):
    student_df = pd.DataFrame(student_data, columns=['student_id', 'age'])
    return student_df

student_data = [
  [1, 15],
  [2, 11],
  [3, 11],
  [4, 20]
]


create_data_frame(student_data)

   student_id  age
0           1   15
1           2   11
2           3   11
3           4   20

## Interview Practice 10/5/24

Data Analyst Question: Define the term 'Data Wrangling' in Data Analytics.

Answer: Data wrangling is the process of obtaining, validating, and cleaning datasets. The datasets are modified so that they can be useful in business decision making. Some techniques that analysts use to 'wrangle' data is merging, sorting, concatenating, and joining.

Data Science Technical Question: 

The Fibonacci numbers, commonly denoted F(n) form a sequence, called the Fibonacci sequence, such that each number is the sum of the two preceding ones, starting from 0 and 1. That is,

F(0) = 0, F(1) = 1
F(n) = F(n - 1) + F(n - 2), for n > 1.
Given n, calculate F(n).

In [2]:
def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)

#Test Cases
print(f'Fibonacci of 2 = {fibonacci(2)}')
print(f'Fibonacci of 3 = {fibonacci(3)}')
print(f'Fibonacci of 4 = {fibonacci(4)}')

Fibonacci of 2 = 1
Fibonacci of 3 = 2
Fibonacci of 4 = 3

## Interview Practice 10/6/24

Data Analyst Question: What are the various steps involved in any analytics project?

Answer

1. Understand the problem in a business context. How does this project align with the goal of the business you are working for.
2. Collecting Data. Gather relevant data to help you solve your problem.
3. Cleaning Data. Most likely the data you collect will not be in the format that you want it to be in. This is the process of getting the data into the format that you want.
4. Exploring and Analyzing Data. This is the part where you make graphs, make predictions and forecasts, and gather insights from the data you have cleaned.
5. Interpret the results. Gather the insights to present to a manager or business leaders.

Data Science Question: 


+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| email       | varchar |
+-------------+---------+
id is the primary key (column with unique values) for this table.
Each row of this table contains an email. The emails will not contain uppercase letters.
 

Write a solution to report all the duplicate emails. Note that it's guaranteed that the email field is not NULL.

Return the result table in any order.

In [7]:
def duplicate_emails(email_df):
    email_duplicates = email_df[email_df.duplicated(subset=['email'])]
    email_duplicates = pd.DataFrame(email_duplicates['email'])
    return email_duplicates

data = {'id': [1,2,3], 'email': ['a@b.com', 'c@d.com', 'a@b.com']}
df = pd.DataFrame(data)

duplicate_emails(df)

     email
2  a@b.com

# Data Analytics Interview Question 11/13/24

Write a function that takes a list of dictionaries, each representing a person's name and age, and returns the name of the oldest person.

In [5]:
import numpy as np
people = [{'name': 'Alice', 'age': 30}, {'name': 'Bob', 'age': 25}, {'name': 'Charlie', 'age': 35}, {'name': 'Tom', 'age': 50}]

def oldest_person(people):
    ages = [person['age'] for person in people]
    oldest_index = np.argmax(ages)

    return people[oldest_index]['name']

In [6]:
print(oldest_person(people))

Tom

## Data Analytics Interview Question 11/15/24

Problem: Write a function that takes a string and returns the number of vowels in it.
Example:
python
Copy code
string = "Data analysis"
Solution: Count the number of vowels (a, e, i, o, u) in the string.

In [3]:
def count_vowels(word):
    word = word.lower()
    vowels = ['a', 'e', 'i', 'o', 'u']
    count = len([i for i in word if i in vowels])
    return count

In [4]:
count_vowels('daTa anAlysis')

5